<h1>Edit <%= @merchant.name %> details</h1>

<form action="/merchants/<%= @merchant.id %>" method="POST">

  <label for="merchant-input">Merchant Name</label>
  <input type="text" name="name" id="merchant-input" value="<%= @merchant.name %>"/>


  <button class="btn">Save Changes</button>

</form>
