<h1>Merchants</h1>


<% for merchant in @merchants %>
<p>Name: <%= merchant.name %></p>
<p>Associated Tags:
  <% for tag in  merchant.tag_name %>
    <%= tag.name + "," unless nil %>
  <% end %></p>

<p>Added: <%= merchant.time_added %></p>
<hr>
<% end %>

<a href="merchants/new">Add New Merchant</a>

<a href="merchants/edit">Edit a Merchant</a>
