<form action="/merchants" method="POST">

  <br>

  <label for="merchant-input">Merchant Name</label>
  <input type="text" name="name" id="merchant-input">
    <br>
    <br>
  <button class="btn" type="reset">Reset</button>
  <button class="btn" type="submit">Add Merchant</button>
</form>
