<h1>Edit <%= @tag.name %> tag</h1>

<form action="/tags/<%= @tag.id %>" method="POST">

  <label for="tag-name">Name:</label>
  <input type="text" name="name" id="tag-name" value="<%= @tag.name %>">

  <input type="submit" value="Change Tag">

</form>
