<h1>Tags</h1>


<% for tag in @tags %>
<p>Name: <%= tag.name %></p>
<a href="tags/<%= tag.id %>/edit">Edit</a>
<form action="/tags/<%= tag.id %>/delete" method="POST">
  <input type="submit" value="Delete"></form>
<% end %>

<a href="tags/new">Add New Tag</a>
