<h1>Tags</h1>

  <div class="add">
    <a class="btn" href="tags/new">Add New Tag</a>
  </div>


<% for tag in @tags %>
<p>Name: <%= tag.name %></p>
<br>
<a class="btn" href="tags/<%= tag.id %>/edit">Edit</a>
<form action="/tags/<%= tag.id %>/delete" method="POST">
  <button class="delete" type="delete">Delete</button>
  <br>
  <br>
</form>
<% end %>
