<form action="/tags" method="POST">

  <br>

  <label for="tag-name">Name:</label>
  <input type="text" name="name" id="tag-name">

  <br>
  <br>
  
  <button class="btn" type="reset">Reset</button>
  <button class="btn">Add Tag</button>

</form>
