<h1>Transactions</h1>

<p>Total Money Spent: <%= Transaction.total %></p>

<% for transaction in @transactions %>
<p>Amount: <%= transaction.amount %></p>
<p>Tag: <%= transaction.tag.name %></p>
<a class="btn" href="transactions/<%= transaction.id %>">View Transaction Details</a>
<hr>

<% end %>

<a class="btn" href="transactions/new">Add a Transaction</a>
