<br>
<br>
<form method="POST" action="/transactions">



  <label for="amount-input">Amount</label>
  <input type="text" name="amount" id="amount-input">

    <br>
    <br>

  <label for="description-input">Description</label>
  <input type="text" name="description" id="description-input">

    <br>
    <br>

  <label for="merchant-input">Select a merchant:</label>
  <select class="" name="merchant_id" id="merchant-input">
    <% @merchants.each do |merchant| %>
    <option value="<%= merchant.id %>">
    <%= merchant.name %></option>
    <% end %>
  </select>

    <br>
    <br>

  <label for="tag-input">Select a tag:</label>
  <select class="" name="tag_id">
    <% @tags.each do |tag| %>
    <option value="<%= tag.id %>">
    <%= tag.name %>
    </option>
    <% end %>
  </select>

  <br>
  <br>

  <button class="btn" type="submit">Add Transaction</button>
  <button class="btn" type="reset">Reset</button>


</form>
