
/****** General Styles *********/

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
  font-size: 55px;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;

}

p {
  padding: 10px;
}

a {

}

nav ul li {
  list-style: none;
  float: left;
  padding: 5px;
}


/******* Whole wrapper style *********/

.wrapper {
  display: grid;
grid-template-areas: "hd" "nv"
                        "mn"
                        "ft";
grid-template-rows: 150px;
grid-template-columns:
}

.wrapper > header {
  grid-area: hd;
}

.wrapper > nav {
  grid-area: nv;
}

.wrapper > main {
  grid-area: mn;
}

.wrapper > footer {
  grid-area: ft;
}

/****** Header Style *********/
.header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 72px;
  text-align: center;
}


/****** Navigation Style *********/
.nav {

}

/****** Footer Style *********/
.footer {

}
