<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pursed Zips</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">

  </head>

  <body>
    <section class="wrapper">


      <header>

      <div class="header">
        Pursed Zips
      </div>
      </header>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/merchants">Merchants</a>
          </li>
          <li>
            <a href="/tags">Tags</a>
          </li>
          <li>
            <a href="/transactions">Transactions</a>
          </li>
          <li>
            <a href="/budgets">Budgets</a>
          </li>
          <div class="navcopy">
          &copy 2018
        </div>
        </ul>

      </nav>
      <main>
        <%= yield %>
      </main>

      <footer>&copy 2018</footer>

    </section>
  </body>
</html>
