<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker!</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/merchants">Merchants</a>
      </li>
      <li>
        <a href="/tags">Tags</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>

    </ul>
    <%= yield %>
  </body>
</html>
